<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/css/signup.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
  </head>
  <style>
    body {
      background-image: url(/images/Eiffel-Tower-ROSANTICA_106_dettaglio@2x.jpg) !important;
      overflow: hidden;
    }
    

  </style>
  <body>
    <!-- main container -->
    <div class="main">
        <!-- left side -->
      <div class="left"></div>
      <!-- right side -->
      <div class="wrapper right">
        <!-- header -->
        <h1 class="get">Forgot</h1>
        <h1 class="start">password</h1>
        <!-- card -->
        <div class="card">
          <!-- form -->
          <form method="post" action="/forgot-email-valid" onsubmit="return validateLoginForm()">
            <label for="text" class="text-label">email</label>
            <div class="mb-3">
                <input class="form-control input-field" name="email" placeholder="Email" type="text" id="email">
                <div class="error-message" id="email-error"></div>
                <p class="otp">
                  we will sent an OTP to your email to confirm
                </p>
            </div>
            <div class="mb-4">
                <button type="submit" class="signup">Verify</button>
            </div>
        </form>
        </div>
      </div>
    </div>
  </body>
</html>
<script>
  function validateLoginForm() {
      const emailInput = document.getElementById('email');
      const emailError = document.getElementById('email-error');
      const emailValue = emailInput.value.trim();
      const emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;


      if (emailValue === '') {
          emailError.textContent = 'Please enter your email.';
          emailInput.classList.add('is-invalid');
          return false;
      } else if (!emailValue.match(emailPattern)) {
          emailError.textContent = 'Please enter a valid email address.';
          emailInput.classList.add('is-invalid');
          return false;
      } else {
          emailError.textContent = '';
          emailInput.classList.remove('is-invalid');
          return true;
      }
  }
</script>

